@charset "UTF-8";


* {
  
  margin: 0px;
  padding: 0px;
}

html,
body {
  font-family: JetBrains Mono;
  min-height: 100vh;
  background-color: darkgray;
}

header {
  background-color: black;
  color: white;
  text-align: center;
 
}

header>h1 {
  padding-top: 50px;
  font-variant: small-caps;
  /* Deixar todas as letras em maiúsculo e as iniciais um pouco maior que as menores. =)*/
  font-family: JetBrains Mono;
  font-size: 10vw;
}

header>p {
  padding-bottom: 50px;
}

header a,
footer a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

header a:hover,
footer a:hover {
  text-decoration: underline;
  color: darkgrey;
}

section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px;
}

section > p {
  padding: 2em;
}

section#img01 {
  background-image: url('../imagens/background001.jpg');
  background-position: right center;
  background-size: cover;
}

section#img02 {
  background-image: url('../imagens/background002.jpg');
  background-position: right center;
  background-size: cover;
}

section.normal {
  background-color: white;
  color: black;
}

section.imagem {
  background-color: rgb(51, 51, 51);
  color: white;  
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
  background-attachment: fixed;
}

section.imagem > p {
  display: inline-block;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.514);
  text-shadow: 1px 1px 0px black;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}